<?xml version='1.0' encoding='utf-8'?>
<widget id="kz.topstar" version="1.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Top-Star Fitness Club</name>
    <description>
Мобильное приложение для клиентов клуба Top Star и жителей г. Павлодар
    </description>
    <author email="elegant4444@gmail.com" href="http://www.photokandy.com">
Maxim Morozov
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="target-device" value="handset" />
    <preference name='phonegap-version' value='cli-7.0.1' />
    <preference name="orientation" value="portrait" />
      
          <!-- Core plugins -->
<plugin name="cordova-plugin-device" spec="1.1.6" />
<plugin name="cordova-plugin-device-orientation" spec="1.0.7" />
<plugin name="cordova-plugin-inappbrowser" spec="1.3.0" />
<plugin name="cordova-plugin-network-information" spec="1.2.1" />
<plugin name="cordova-plugin-whitelist" spec="1.2.2" />
<plugin name="onesignal-cordova-plugin"  source="npm" />
      
      
    <platform name="ios">
        <icon height="57" platform="ios" src="res/icon/ios/Icon-App-57x57@1x.png" width="57" />
        <icon height="114" platform="ios" src="res/icon/ios/Icon-App-57x57@2x.png" width="114" />
        <icon height="40" platform="ios" src="res/icon/ios/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" platform="ios" src="res/icon/ios/Icon-App-40x40@2x.png" width="80" />
        <icon height="50" platform="ios" src="res/icon/ios/Icon-Small-50x50@1x.png" width="50" />
        <icon height="100" platform="ios" src="res/icon/ios/Icon-Small-50x50@2x.png" width="100" />
        <icon height="60" platform="ios" src="res/icon/ios/Icon-App-20x20@3x.png" width="60" />
        <icon height="120" platform="ios" src="res/icon/ios/Icon-App-40x40@3x.png" width="120" />
        <icon height="180" platform="ios" src="res/icon/ios/Icon-App-60x60@3x.png" width="180" />
        <icon height="72" platform="ios" src="res/icon/ios/Icon-App-72x72@1x.png" width="72" />
        <icon height="144" platform="ios" src="res/icon/ios/Icon-App-72x72@2x.png" width="144" />
        <icon height="76" platform="ios" src="res/icon/ios/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" platform="ios" src="res/icon/ios/Icon-App-76x76@2x.png" width="152" />
        <icon height="29" platform="ios" src="res/icon/ios/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" platform="ios" src="res/icon/ios/Icon-App-29x29@2x.png" width="58" />
        <icon height="87" platform="ios" src="res/icon/ios/Icon-App-29x29@3x.png" width="87" />
        <icon height="1024" src="res/icon/ios/iTunesArtwork@2x.png" width="1024" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comany.png" />
    </platform>
    <engine name="ios" spec="latest" />
      
          <access origin="*" />
    <!--
       <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
       <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
       <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
